.logo-nav{
background: url(/img/logo/Katyglo.png) no-repeat;
    background-size: 136px 38px;

text-indent: -10000px;
margin: 20px 0 0;
width: 136px;
height: 75px;
opacity: 1;
transition: opacity .3s;
float: left;
}
.home-banner{
    background-image: url(/index_files/yogaandmeditationclasses.jpg);
    min-height: 800px;
}

.new-yg-tile__title--overview {
	background-repeat:no-repeat;
	background-position:85% 120px;
	background-size:50%;
	padding-bottom:80px
}
@media screen and (min-width:46em) {
	.new-yg-tile__title--overview {
		background-image: url(/index_files/yogaonallyourdevices.jpg) !important;
	}
}
@media screen and (min-width:1200px) {
	.new-yg-tile__title--overview {
		background-position:85% 140px;
		background-size:620px;
		padding-bottom:90px
	}
}
@media screen and (max-width:54.875em) and (min-width:46em) {
	.new-yg-tile__title--overview {
		background-position:bottom center;
		padding-bottom:230px;
		background-size:460px
	}
}
@media screen and (max-width:45.9375em) and (min-width:40.0625em) {
	.new-yg-tile__title--overview {
		background-size:500px
	}
}
@media screen and (max-width:45.9375em) {
	.new-yg-tile__title--overview {
		background-position:bottom center;
		padding-bottom:230px;
		background-image: url(/index_files/yogaonallyourdevices.jpg) !important;
	}
}
@media screen and (max-width:40em) {
	.new-yg-tile__title--overview {
		background-size:90%;
		padding-bottom:45%
	}
}
.new-yg-tile__title--overview p {
	font-size:2vw;
	line-height:3vw;
	color:#1A4E66
}
@media screen and (min-width:1200px) {
	.new-yg-tile__title--overview p {
		font-size:26px;
		line-height:37px
	}
}
@media screen and (max-width:54.875em) and (min-width:46em) {
	.new-yg-tile__title--overview p {
		text-align:center;
		font-size:21px;
		line-height:28px
	}
}
@media screen and (max-width:45.9375em) {
	.new-yg-tile__title--overview p {
		text-align:center;
		font-size:19px;
		line-height:25px
	}
	.new-yg-tile__title--overview br {
		display:none
	}
}
@media screen and (max-width:28.4375em) {
	.new-yg-tile__title--overview p {
		font-size:5vw;
		line-height:6vw
	}
}